<div class="article-details">
    <div class="article-title-wrapper">
        {{ if .Scratch.Get "IsReadingPage" }}
            <h1 class="article-title">{{ .Title }}</h1>
        {{ else }}
            <h2 class="article-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        {{ end }}
        {{ with .Description }}<p class="article-subtitle">{{ . }}</p>{{ end }}
    </div>

    {{ $showReadingTime := .Params.readingTime | default .Site.Params.article.readingTime }}
    {{ if or (not .Date.IsZero) $showReadingTime .Params.categories }}
        <div class="article-time">
            {{ with .GetTerms "categories" }}
                <span class="article-meta-categories">
                    {{ range $i, $category := . }}{{ if $i }} · {{ end }}<a href="{{ $category.RelPermalink }}">{{ $category.LinkTitle }}</a>{{ end }}
                </span>
            {{ end }}
            {{ if not .Date.IsZero }}
                <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format (or .Site.Params.dateFormat.published "2006-01-02") }}</time>
            {{ end }}
            {{ if $showReadingTime }}<span>{{ T "article.readingTime" .ReadingTime }}</span>{{ end }}
        </div>
    {{ end }}

    {{ if .IsTranslated }}
        <div class="article-translations">
            {{ partial "helper/icon" "language" }}
            {{ range .Translations }}<a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>{{ end }}
        </div>
    {{ end }}
</div>
